[submodule "vendor/bootstrap-select"]
	path = vendor/bootstrap-select
	url = https://github.com/snapappointments/bootstrap-select.git
[submodule "vendor/bootstrap-table"]
	path = vendor/bootstrap-table
	url = https://github.com/wenzhixin/bootstrap-table.git
